{% extends "layouts/base.html" %}
{% block main %}
    <section class="opening">
      <div class="content">
        <span class="col-md-4"></span>
        <div class="col-md-4 center">
          <img src="/static/images/centerpiece.svg">
          <a href="#" class="button">Order tickets now</a>
        </div>
        <div class="col-md-3 text">
          <span>Where</span>
          <p><b class="red">Zellerbach Hall</b></p>
          <span>When</span>
          <p><b class="blue">February 17, 2018</b></p>
          <span>10 AM to 5 PM</span>
        </div>
      </div>
      <div class="background">
        <img src="/static/images/burn_right.svg" class="burn-right">
        <div class="col-md-6">
          <span class="col-md-2"></span>
          <img src="/static/images/piece1.png" class="col-md-7 p1">
        </div>
        <div class="col-md-6">
          <span class="col-md-5 right"></span>
          <img src="/static/images/piece1b.svg" class="col-md-3 p1b right">
        </div>
        <div class="col-md-12">
          <div class="col-md-6 right">
            <img src="/static/images/piece2.svg" class="p2">
          </div>
        </div>
      </div>
    </section>
    <section class="text-with-number">
      <div class="content">
        <span class="col-md-2"></span>
        <div class="text col-md-4">
          <h2 class="no">01</h2>
          <p>TEDxBerkeley 2018 will build a map beyond the two dimensions we know, by considering a set of new axes via technology, science, culture, and social advancement. Our speakers will each begin with their place along one of these dimensions, then introduce a new story and view. With each of these views, we build a better map of the world through unconventional perspectives and untold stories. Take a moment to consider your place in each of these maps and realize that the perspective we take changes what we see. There is power to showing up. Join us in finding our marker and pinpointing our place--You are here, and so are we.</p>
          <a href="#" class="button red small">More about Theme</a>
        </div>
      </div>
    </section>
    <section class="cutout blue">
      <div class="content">
        <span class="col-md-1 right"></span>
        <div class="col-md-8 right">
          <h2 class="no right">02</h2>
          <img src="/static/images/brian.png" class="right brian">
          <div class="text col-md-4 right">
            <p>TEDxBerkeley 2017 Speaker</p>
            <h2>Brian Malow</h2>
            <a href="#" class="button small">Watch 2017 Event</a>
          </div>
        </div>
      </div>
      <div class="background">
        <div class="col-md-6 circles">
          <span class="col-md-2"></span>
          <img src="/static/images/piece3.svg" class="col-md-8">
        </div>
        <div class="col-md-3">
          <span class="col-md-2"></span>
          <img src="/static/images/piece4.svg" class="brian-background col-md-10">
        </div>
      </div>
    </section>
    <section class="text-with-sideways">
      <div class="content">
        <span class="col-md-4"></span>
        <h2 class="sideways">What?</h2>
        <div class="text col-md-4">
          <h2 class="no">03</h2>
          <p>On February 17, 2018 TEDxBerkeley is gathering world-leading thinkers, makers, and doers at UC Berkeley to discuss “You are Here”. The audience will be composed of a diverse mix of over 1500 students, professors, and thought leaders from Berkeley and beyond for a stimulating day of presentations, discussions, entertainment and art that will spark new ideas and opportunities for all.</p>
          <a href="#" class="button red">See 2018 Speakers</a>
        </div>

      </div>
      <div class="background">
        <img src="/static/images/burn_left.svg" class="burn-left">
        <span class="col-md-6"></span>
        <div class="col-md-6">
          <span class="col-md-2 right"></span>
          <img src="/static/images/piece5.svg" class="col-md-4 right">
        </div>
      </div>
    </section>
    <section class="text-with-headline">
      <div class="content">
        <span class="col-md-2"></span>
        <div class="text col-md-4">
          <h2>Stay Tuned</h2>
          <p>Subscribe to our newsletter and follow us on social media for monthly giveaways, speaker announcements, and a voice in making this event yours.</p>
          <a href="#" class="button red">Subscribe</a>
        </div>
      </div>
      <div class="background">
        <span class="col-md-1"></span>
        <img src="/static/images/piece6.svg" class="col-md-3">
      </div>
    </section>
  <section class="cutout red damien">
      <div class="content">
        <span class="col-md-2 right"></span>
        <div class="col-md-8 right">
          <h2 class="no right">04</h2>
          <img src="/static/images/damien.png" class="right damien">
          <div class="text col-md-4 right">
            <p>TEDxBerkeley 2017 Performer</p>
            <h2>Damien Horne</h2>
            <a href="#" class="button red small">See 2018 Lineup</a>
          </div>
        </div>
      </div>
    </section>
  <section class="text-with-number right">
      <div class="content">
        <span class="col-md-5"></span>
        <div class="text col-md-5">
          <h2 class="no">05</h2>
          <p>We look forward to having you at the event. In the meantime, feel free to check us out on the Team page. Otherwise, Contact Us if you have any questions. We're also looking for speaker nominations. Anyhow, we can't wait to see you in February!</p>
          <a href="#" class="button right">Order Tickets Now</a>
        </div>
      </div>
      <div class="background">
        <img src="/static/images/burn_right.svg" class="burn-left flipped">
        <img src="/static/images/piece7.svg" class="col-md-3 p7">
      </div>
    </section>
{% endblock %}
