
{% extends "layouts/base.html" %}
{% block main %}
<section class="text-with-headline suja">
        <div class="content">
            <span class="col-md-2 col-sm-1 col-xs-1"></span>
            <div class="col-md-8 col-sm-10 col-xs-10">
                <h2 class="camel">How we can help you</h2>
                <section class="text-with-headline right benefits">
                <div class="content">
                    <span class="col-md-4"></span>
                    <span class="col-sm-2 right hidden-md"></span>
                    <div class="col-md-6 col-sm-10 col-xs-11">
                        <ul>
                            <li>VIP Passes For Your Team & Friends</li>
                            <li>Thank you in opening remarks</li>
                            <li>Recognition in slide shows and programs</li>
                            <li>Recognition on website</li>
                            <li>Opportunity to distribute gift items</li>
                            <li>Priority seating in first 5 rows</li>
                        </ul>
                    </div>
                </div>
              </section>
                <h2 class="camel">How you can help</h2>
                <p>We are TEDxBerkeley, a registered TEDx event. Our TEDxBerkeley event has drawn top-of-the-line audiences and speakers, among them Apple co-founder Steve Wozniak, Autodesk CEO Carl Bass, Evangelist Guy Kawasaki, and many others. In-kind Donations are also greatly appreciated. See below for an explicit list of benefits. For more information please refer to our TEDxBerkeley Sponsorship Deck and TEDxBerkeley Flyer. Sponsors receive a variety of benefits, from day-of tickets to recognition across our social media platforms and general media.
</p>
                <a href="/static/TEDxBerkeley-Sponsorship-Deck.pdf" class="button red">Download Deck</a>
                <div class="col-md-12 sponsors">
                    <h2 class="blue camel">2018 Sponsors</h2>
                    {% set i = 0 %}
                    {% for sponsor in sponsors['2018'] %}
                    {% set i = i + 1 %}
                    <img src="{{ sponsor.image_uri }}" class="col-xs-12 col-sm-6 col-md-3">
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="background">
            <img src="/static/images/burn_right.svg" class="burn-right">
            <div class="col-md-6">
                <img src="/static/images/piece5.svg" class="p5 col-md-4">
            </div>
            <div class="col-md-6">
                <span class="col-md-6"></span>
                <img src="/static/images/piece4.svg" class="p4 col-md-5">
            </div>
        </div>
    </section>
    <section class="text-with-headline right benefits">
        <div class="background">
            <img src="/static/images/burn_left.svg" class="burn-left">
            <div class="col-md-6">
                <span class="col-md-3"></span>
                <img src="/static/images/piece3.svg" class="col-md-6 p3">
            </div>
        </div>
    </section>
{% endblock %}
