
{% extends "layouts/base.html" %}
{% block main %}
<section class="text-with-headline suja">
        <div class="content">
            <span class="col-md-2"></span>
            <div class="col-md-4">
                <h2>How we can help</h2>
                <p>TED is an annual event where the world’s leading thinkers and doers are invited to share their passions. “TED” stands for Technology, Entertainment, Design–three broad subject areas that are shaping our future. Attendees have called it “the ultimate brain spa.” The diverse audience– CEOs, scientists, creatives, philanthropists–is almost as extraordinary as the speakers, who have included Bill Clinton, Bill Gates, Jane Goodall, Frank Gehry, Steve Jobs, Sir Richard Branson and Bono.<br/><br/>

In-kind Donations are also greatly appreciated! See below for an explicit list of benefits. For more information please refer to our TEDxBerkeley Sponsorship Deck and TEDxBerkeley Flyer. Sponsors receive a variety of benefits, from day-of tickets to recognition across our social media platforms and general media.
</p>
                <a href="#" class="button red">Download Flyer</a>
            </div>
            <div class="col-md-4 cutout blue text">
                <img src="/static/images/suja.png" class="right col-md-11 suja">
                <div class="text">
                    <p>TEDxBerkeley 2017 Partner</p>
                    <h2>Suja</h2>
                    <a href="#" class="button small">See 2017 sponsors</a>
                </div>
            </div>
        </div>
        <div class="background">
            <img src="/static/images/burn_right.svg" class="burn-right">
            <div class="col-md-6">
                <img src="/static/images/piece5.svg" class="p5 col-md-4">
            </div>
            <div class="col-md-6">
                <span class="col-md-6"></span>
                <img src="/static/images/piece4.svg" class="p4 col-md-5">
            </div>
        </div>
    </section>
    <section class="text-with-headline right benefits">
        <div class="content">
            <span class="col-md-4"></span>
            <div class="col-md-6">
                <h2>Benefits</h2>
                <ul>
                    <li>Admission to TEDxBerkeley 2018</li>
                    <li>Thank you in opening remarks</li>
                    <li>Recognition in slide shows and programs</li>
                    <li>Recognition on website</li>
                    <li>Opportunity to distribute gift items</li>
                    <li>Priority seating in first 5 rows</li>
                </ul>
            </div>
        </div>
        <div class="background">
            <img src="/static/images/burn_left.svg" class="burn-left">
            <div class="col-md-6">
                <span class="col-md-3"></span>
                <img src="/static/images/piece3.svg" class="col-md-6 p3">
            </div>
        </div>
    </section>
{% endblock %}