
{% extends "layouts/base.html" %}
{% block main %}
<section class="text-with-headline suja">
        <div class="content">
            <span class="col-md-2 col-sm-1 col-xs-1"></span>
            <div class="col-md-8 col-sm-10 col-xs-10">
                <h2 class="camel">How To Earn 25% Off Your TEDxBerkeley Ticket!</h2>
                <section class="left promotion">
                    <div class="content">
                        <div class="col-md-6 col-sm-10 col-xs-11">
                            <ul style="margin-left: 112px; width: 600px;">
                                <li><b>Step 1:&nbsp;</b> Add the TEDxBerkeley Frame to your Facebook profile picture by going <a target="_blank" href="https://www.facebook.com/TEDxBerkeley/posts/10155860452225259">here</a>.</li>
                                <li><b>Step 2:&nbsp;</b> Add a caption to your new profile picture and tag the <a target="_blank" href="https://www.facebook.com/TEDxBerkeley/">TEDxBerkeley page</a> and the <a target="_blank" href="https://www.facebook.com/events/186004285283792/">2018 event page</a>.</li>
                                <li><b>Step 3:&nbsp;</b> Keep an eye on your Facebook Messenger inbox! We will be send you your special 25% code once we see you have changed your profile picture! If you do not hear from us within a day, email info@tedxberkely.org with a link to your Facebook profile.</li>
                                <li><b>Step 4:&nbsp;</b> Buy your ticket on <a target="_blank" href="https://www.eventbrite.com/e/tedxberkeley-2018-you-are-here-tickets-39787788346">Eventbrite</a>!</li>
                                <li><b>Step 5:&nbsp;</b> Come enjoy the amazing day of talks we have planned for you on February 17th, 2018!</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="background">
            <img src="/static/images/burn_right.svg" class="burn-right">
            <div class="col-md-6">
                <img src="/static/images/piece5.svg" class="p5 col-md-4">
            </div>
            <div class="col-md-6">
                <span class="col-md-6"></span>
                <img src="/static/images/piece4.svg" class="p4 col-md-5">
            </div>
        </div>
    </section>
{% endblock %}
