{% extends "layouts/base.html" %}
{% block main %}
<section class="opening wushu">
      <div class="content">
        <span class="col-md-4 col-sm-4 col-xs-0"></span>
        <div class="col-md-4 col-sm-4 col-xs-9 center">
          <img src="/static/images/centerpiece.svg">
          <a href="{{ links.eventbrite }}" class="button">Order tickets</a>
          <img src="/static/images/wushu.png" class="wushu">
        </div>
        <div class="col-md-3 hidden-sm text">
          <span>Where</span>
          <p><b class="red">Zellerbach Hall</b></p>
          <span>When</span>
          <p><b class="blue">February 17, 2018</b></p>
          <span>10 AM to 5 PM</span>
        </div>
        <div class="col-md-12 col-sm-12 cutout blue titles">
          <div class="text col-md-4 col-sm-5">
            <p>TEDxBerkeley 2017 Performance</p>
            <h2>Cal Wushu</h2>
            <a href="{{ links.videos_2017 }}" class="button small">Watch 2017 Event</a>
          </div>
            <div class="col-md-7 col-sm-6 ">
                <h2 class="right title">2018 Lineup</h2>
                <p class="right years-subtitle"><a href="/2017">2017</a> &middot; <a href="/2016">2016</a> &middot; <a href="/2015">2015</a> &middot; <a href="/2014">2014</a> &middot; <a href="/2013">2013</a> &middot; <a href="/2012">2012</a> &middot; <a href="/2011">2011</a> &middot; <a href="/2010">2010</a></p>
            </div>
        </div>
      </div>
      <div class="background">
        <img src="/static/images/burn_right.svg" class="burn-right">
        <div class="col-md-6 col-sm-6">
          <span class="col-md-2 col-sm-2"></span>
          <img src="/static/images/piece1.png" class="col-md-7 col-sm-7 col-xs-5 p1">
        </div>
        <div class="col-md-6 col-sm-6">
          <span class="col-md-5 col-sm-5 right"></span>
          <img src="/static/images/piece1b.svg" class="col-md-3 col-sm-3 p1b right">
        </div>
        <div class="col-md-12">
          <div class="col-md-6 col-sm-6 right">
            <img src="/static/images/piece2.svg" class="p2">
          </div>
        </div>
      </div>
    </section>
    <section class="people wrap-container">
    <div class="wrap col-md-10 col-sm-10">
        {% for speaker in speakers['2018']|sort(attribute='name') %}
        <div class="profile col-md-3 col-sm-4 col-xs-6"> <span class="profile-pic-mask">
                <span class="profile-pic"
                      style="background:url('{{ speaker.image_uri }}'); background-size:cover; background-position:center;"></span> </span>
            <h2 class="profile-name">{{ speaker.name }}</h2>
            <p class="profile-byline">{{ speaker.byline }}</p>
            <p class="profile-copy">{{ speaker.description[:80] }}...</i>
                </b>
            </p>
            <p><a href="/speakers/{{ speaker.name.replace(' ', '-') }}" class="button small">View More</a>
            </p>
        </div>
        {% endfor %}
    </div>
    <div class="background">
        <img src="/static/images/burn_left.svg" class="burn-left">
        <img src="/static/images/burn_left.svg" class="flipped burn-right bottom">
        <div class="col-md-6 col-sm-6">
            <span class="col-md-3 col-sm-3"></span>
            <img src="/static/images/piece3.svg" class="col-md-6 col-sm-6 p3">
        </div>
        <div class="col-md-6 col-sm-6">
            <img src="/static/images/piece2.svg">
            <img src="/static/images/piece5.svg" class="col-md-8 col-sm-8 p5">
        </div>
    </div>
</section>
    <section class="basic-text wrap-container">
    <div class="wrap col-md-8 col-sm-10 col-xs-10">
        <h2 id="get-the-most-out">Get the Most Out</h2>
        <div class="col-md-6">
            <h3>Arrive Early</h3>
            <p>We encourage you to arrive at 9AM, an hour before the first speaker sessions begin. Arriving early means you’ll be able to network with other incredible thinkers and doers.</p>
            <h3>Stay until the very end.</h3>
            <p>We recommend you plan to stay through the farewell party – until at least 7PM. TEDxBerkeley is an unusual conference in that our attendees stay for its entirety — every session and special event, right up through the Farewell Party.</p>
            <h3>Clear your calendar. No, really.</h3>
            <p>To help you get the most out of TEDxBerkeley, we ask that you lend us your brain. Ignore your email. Switch off your phone. Don’t take meetings. TED is an immersive experience, and you won’t want to miss a moment.</p>
            <h3>Talk to strangers.</h3>
            <p>TEDxBerkeley is teeming with amazing people. Most speakers stay all day long, and the attendees, in truth, are every bit as extraordinary. As a result, chance encounters at TEDxBerkeley often lead to new ideas, projects, perspectives, companies … They’re as essential to the experience as the program itself.</p>
        </div>
        <div class="col-md-6 second">
            <h3>Don't miss a thing.</h3>
            <p>Watch every session. Go to every event. The best TED moments happen when you least expect them. It’s invariably the unknown speakers who wow the crowd. Watching every session helps you avoid disappointment, and ensures you take in each key moment as it happens. Social events, too, are there for a reason.</p>
            <h3>Leave your laptop at home. And your cell phone in your bag.</h3>
            <p>The speakers at TEDxBerkeley merit your full attention, and laptops and cell phones are a big distraction – not just for you, but for everyone around you. To preserve an immersive experience, we don’t allow cell phone use in the theater. Blogging is permitted from the back row and the balcony, and is welcomed in the social spaces.</p>
            <h3>Let us help you.</h3>
            <p>Our staff will do their best to answer any questions and solve any problems, from logistics queries to laptop breakdowns. Pre-conference, contact us via email at info@tedxberkeley.org. On-site, visit our concierge at the registration desk, or ask anyone wearing a Staff badge.</p>
            <h3>Share your experience with others.</h3>
            <p>If you plan to blog, take photos, or Twitter, use these tags: #TEDxBerkeley, #TEDx. Take pictures, share your TEDxBerkeley memories with friends and family during and after the event.</p>
        </div>
    </div>
    <div class="background">
        <img src="/static/images/burn_right.svg" class="burn-right">
    </div>
</section>
{% endblock %}