{% extends "layouts/base.html" %}
{% block main %}
<section class="basic-text wrap-container profile">
    <div class="wrap col-md-8 col-sm-10 col-xs-10">
        {% if not person.image_large_uri %}
        <div class="profile-pic-mask">
            <span class="profile-pic"
                  style="background:url('{{ root }}/{{ person.image_uri }}'); background-size:cover; background-position:center;">
            </span>
        </div>
        {% endif %}
        <h3 class="byline">{{ person.byline }}</h3>
        <h2 class="name">{{ person.name }}</h2>
        <div class="multicol-2">
            {% if person.image_large_uri %}
            <img src="{{ person.image_large_uri }}" class="image-large col-md-12">
            {% endif %}
            {% if person.twitter %}
            <h3>Twitter</h3>
            <p><a href="http://twitter.com/{{ person.twitter }}" rel="nofollow">@{{ person.twitter }}</a></p>
            {% endif %}
            <h3>Description</h3>
            <p>{{ person.description }}</p>
        </div>
    </div>
    <div class="background">
        <img src="{{ root }}/static/images/burn_right.svg" class="burn-right">
    </div>
</section>
{% endblock %}